h3.todos_project_name {
	border-top: 1px solid #ddd;
	padding-top: 15px;
}
/* css for the project todos screen */
#project-todos ul {
	/*list-style-image: url(/images/sub.gif); */
	list-style-type: none;
	padding: 0;
}
#project-todos ul.root {
	list-style-image: none;
	list-style-type: none;
	
}
#project-todos ul.root li { font-size: 1.1em; padding-left: 20px; background: transparent url('../../../images/bullet_black.png') no-repeat left top; }
#project-todos ul.root ul.children { padding-bottom: 0px; padding-top: 0.5em; padding-left: 2em; }
#project-todos ul.root ul.children li { font-size: 0.9em; padding-bottom: 0em; padding-top: 0.2em; padding-left: 20px; background: transparent url('../../../images/bullet_arrow_right.png') no-repeat left top; }
/*#project-todos div.children { padding-bottom: 10px;}*/

span.todo-has-children-true {text-decoration: underline; }

/* #project-todos ul.depth0 { background-color: #cecece;} */

div.new-todo { 
	background-color: #F6F6F6;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 5px #bbb inset;
	-webkit-box-shadow: 0 0 5px #bbb inset;
	-moz-box-shadow: 0 0 5px #bbb inset;
	padding: 10px 10px 7px 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 0.8em;
}
.new-todo-date-cancel {  position: relative; top: 0.6em; left: -0.2em; }


#project-todos li {
	text-align: middle;
	vertical-align: middle;
	margin: 0 0 0 0;
}
/*#project-todos img {
	position: relative;
	top: 2px;
	max-height: 14px;
}*/

.todo-controls {
	width: 66px;
	margin-left: 0px;
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 2px 0 2px 5px;
	margin-right: 5px;
	margin-left: 15px;
	vertical-align: 25%;
	float: right;
	opacity: 0.35;
}
.todo-controls:hover {
	opacity: 1.0;
}
.todo-bullet {
	margin-left: 0px;
	text-decoration: none;
	border: none;
	vertical-align: -20%;
}
.todo-controls img, .todo-controls a {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	vertical-align:middle;
}
.todos .date {
	font-weight: bold;
	font-size: 0.8em;
	font-family: Arial;
	padding-right: 2px;
}
.done  {	text-decoration: line-through; }
.todos .due {}
.todos .assigned {}
.todos .refers {}
.todos .notes {font-size: 0.9em; font-style:italic;  color: #446994; }
.todos .notes span { margin-left: 1em; }

input#todo_text {
	width:85%;
	margin: 2px;
}

input#todo_submit {
	margin-right: 5px;
	margin-top: 3px;
	float: right;
}

#todo_due_block {
	display: inline-block;
	line-height: 22px;
}

#todos-link-bar {
  float: right;
  vertical-align: bottom;
  margin-top: 5px;
}

div#issue-todos .todo { padding: 4px;}
div#issue-todos .todo { border-bottom: 1px solid #ddd; }
div#issue-todos p { margin-top: 0; margin-bottom: 1em;}
div#issue-todos #project-todos ul.root { padding-left: 0px;}
div#issue-todos #project-todos span.notes { color: #888888; font-size: 0.8em; font-style: normal;}
div#issue-todos #project-todos span.notes span.refers { display: none;}

#project-todos li .todo-content p{ display: inline;}
li .todo-content .text form div{ display: none;}

#project-todos li .todo-content span.flash.error, div.new-todo span.flash.error {
    background: transparent url(../../../images/false.png) no-repeat scroll 0px -2px;
    color: #ff0000;
    font-size: 11px;
    padding-left: 20px;
}

dt.todo {
    background-image:url(../../../images/todo.png);
}

.todos-edit {
  padding: 0.7em; 
  margin:0.4em; 
  background-color:#fec;
  font-size: 0.8em;
  line-height: 22px;
}
#todos-edit_cancel {
	float: right;
	font-size: 1.1em;
	padding-right: 5px;
}
.clearer {}
.todos-edit form { display: inline; }



